<ion-content>

   <div class="entry_point_component">
      <img src="assets/images/entry-bg.png" alt="">
      <h2>Welcome to Our<br /><span>Application</span></h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, sapiente!</p>
      <div class="ion-activatable ripple-parent">
        <ion-button color="black" [routerLink]="['/home']">          
            ENTER
            <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
    </div>
   </div>

</ion-content>
