/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;300;400;600&display=swap');

html{
    font-size: 62.5%;
}
:root{
    --ion-color-black: #000;
    --ion-color-black-rgb: 105, 187, 123;
    --ion-color-black-contrast: #ffffff;
    --ion-color-black-contrast-rgb: 255, 255, 255;
    --ion-color-black-shade: #333;
    --ion-color-black-tint: #222;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ion-button{
    --border-radius: 5rem;    
    --padding-start: 6rem;
    --padding-end: 6rem;
    height: 5rem;
    font-size: 16px;
}

.ion-color-black {
    --ion-color-base: var(--ion-color-black);
    --ion-color-base-rgb: var(--ion-color-black-rgb);
    --ion-color-contrast: var(--ion-color-black-contrast);
    --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
    --ion-color-shade: var(--ion-color-black-shade);
    --ion-color-tint: var(--ion-color-black-tint);
  }

*{
   font-family: 'Anek Latin', sans-serif;
   box-sizing: border-box;
}

.button_back{
    input[type="submit"]{
        background-color: #000;
        padding: 0 6rem;
        border-radius: 5rem;
        height: 5rem;
        font-size: 16px;
        border: none;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
    }
}

ion-content{
    --ion-background-color:#fcfcfc;
}